<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Book Display</title>
    <link rel="stylesheet" href="/styles.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agu+Display&family=Italiana&display=swap" rel="stylesheet">

    <!-- Favicon information -->
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/site.webmanifest" />
</head>

<style>
    h1 {
        font-size: 50px;
        color: lightpink;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-left: 5vw;
    }


    html {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:cornflowerblue;
        font-size: 30px;   
        background-image: url('https://i.pinimg.com/736x/cf/11/f3/cf11f3f39f7b8f19b94e82c2472062f8.jpg');
        background-size: 50vw 100vh;
    }

    a {
        padding: 5px;
        background-color: lightpink;
        color: darkred;
        border: 2px darkred dotted;
        font-family: "Italiana";
        border-radius: 20px;
        margin: 10px;
        margin-left: 5vw;
    }

    button {
        padding: 50px;
        /* background-color: lightpink;
        border: 20px darkred dotted; */
        font-family: "Italiana";
        border-radius: 40px;
        margin: 100px;
        margin-left: 50vw;
    }

    #wish {
        display: inline;
        width: auto;
        padding: 5px;
        background-color: lightpink;
        color: darkred;
        border: 2px darkred dotted;
        font-family: "Italiana";
        font-size: 25px;
        border-radius: 20px;
        margin: 10px;
        margin-left: 110px;
    }

    img{
        margin-left: 5vw;
    }
    .gatitaP {
        font-size: 30px;
        color: darkred;
        margin-left: 5vw;

    }

    .gatitaH {
        text-align: left;
        margin-left: 5vw;
    }
</style>

<body>
    <h1 class="gatitaH">Book Information</h1>
    <img src=<%= coverImg %> />
    <br>
	<p class="gatitaP">Title: <%= title %>
        <br>
        Author: <%= author %>
        <br>
        Rating: <%= rating %> (<%= ratingCount %>)
    </p>
        
    <a href="/wishList"> View your Wishlist </a>

    <a href="/"> Go Home </a>

    <!-- ADD TO WISHLIST CHANGE CONFIG HERE -->
    <!-- <a href="/wishList"> Add to Wishlist</a> -->
    <form action="/wishList" method="post">
        <input type="hidden" name="title" value="<%= title %>" />
        <input type="hidden" name="author" value="<%= author %>" />
        <input type="hidden" name="rating" value="<%= rating %>" />
        <input type="hidden" name="ratingCount" value="<%= ratingCount %>" />
        <input type="hidden" name="coverImg" value="<%= coverImg %>" />
        <button type="submit" id="wish"><u>Add to Wishlist</u></button>
    </form>

    <script>
        const form = document.querySelector("form");

        form.addEventListener("submit", function (event) {
            const confirmAdd = window.confirm(
                "Are you sure you want to add this book to your Wish List?"
            );

            if (!confirmAdd) {
                event.preventDefault();
            }
        });
    </script>
</body>

</html>