<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Book Display</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Book Information</h1>
    <img src=<%= coverImg %> />
	<p>Title: <%= title %>
        <br>
        Author: <%= author %>
        <br>
        Rating: <%= rating %> (<%= ratingCount %>)
    </p>
    
    <hr>
    <p>To view saved books select <a href="/wishList">Wishlist</a><br></p>
    <hr>
</body>

</html>
