<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Book Display</title>
    <link rel="stylesheet" href="/styles.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Agu+Display&family=Italiana&display=swap" rel="stylesheet">
</head>

<style>
    h1 {
        font-size: 50px;
        color: lightpink;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-left: 5vw;
    }


    html {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
        color:cornflowerblue;
        font-size: 30px;   
        background-image: url('https://i.pinimg.com/736x/cf/11/f3/cf11f3f39f7b8f19b94e82c2472062f8.jpg');
        background-size: 50vw 100vh;
    }

    a {
        padding: 5px;
        background-color: lightpink;
        color: darkred;
        border: 2px darkred dotted;
        font-family: "Italiana";
        border-radius: 20px;
        font-size: 30px;
        margin: 10px;
        margin-left: 5vw;
    }

    img{
        margin-left: 5vw;
    }
    .gatitaP {
        font-size: 40px;
        color: darkred;
        margin-left: 5vw;

    }

    .gatitaH {
        text-align: left;
        margin-left: 5vw;
    }
</style>

<body>
    <h1 class="gatitaH">Book Information</h1>
    <img src=<%= coverImg %> />
    <br>
	<p class="gatitaP">Title: <%= title %>
        <br>
        <br>
        Author: <%= author %>
        <br>
        <br>
        Rating: <%= rating %> (<%= ratingCount %>)
    </p>
        
    <a href="/wishList"> View your Wishlist </a>

    <a href="/"> Go Home </a>

    <!-- ADD TO WISHLIST CHANGE CONFIG HERE -->
    <a href="/wishList"> Add to Wishlist</a>
</body>

</html>